body{
	background-size: auto;
	height: 750px;
    background-color: blue; /* For browsers that do not support gradients */
    background: linear-gradient(skyblue, navy); 
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}	

h1{
	font-size: 40px;
	
}

	button {
	display: inline-block;
	border-radius: 4px;
	background-color: white;
	border: none;
	color: #000000;
	text-align: relative;
	font-size: 20px;
	font-family: "Courier New", Courier, monospace;
	padding: 20px;
	width: 200px;
	height: 70px;
	
	cursor: pointer;
	margin: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
	

input[type=text] {
	width: 50%;
	height: 20%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 17px;
    background-color: white;
    background-image: url('speech.jpg');
	background-size: 27px 27px; 
    background-position: 10px 57px; 
    background-repeat: no-repeat;
	font-family: "Courier New", Courier, monospace;
	color: black;
    padding: 12px 20px 12px 40px;
	
}

input[type=password] {
	width: 50%;
	height: 20%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 17px;
    background-color: white;
    background-repeat: no-repeat;
	font-family: "Courier New", Courier, monospace;
	color: black;
    padding: 12px 20px 12px 40px;
	
	
}

	placeholder-fix:focus::-webkit-input-placeholder  {color:transparent;}
	placeholder-fix:focus::-moz-placeholder   {color:transparent;}
	placeholder-fix:-moz-placeholder   {color:transparent;}


img{
	width: 100%;	
}

/* The content div soround
  * every thing in the body
  * The css make content  smaller than the body itself
  * and centret.
  */
#content {
	width: 75%;
	margin: auto;
}

#bleDeviceList{
	
}	
#messageInput{
	
	
}
#list{
	background-color: linear-gradient(cornflowerblue, blue);
}

/* width will be 15% of content */
#refreshButton{
	width: 50%;
}
#sendButton{
	width: 50%;
}
#disconnectButton{
	width: 50%;
	display: inline-block;
}